//style de la page d'accueil de base
header {
  display: flex;
  min-height: 60%;

  flex-direction: column;

  h1 { //titre avec image
    flex: 1;
    margin: 0;
    padding-top: 10rem;
    color : white;

    background: url("/static/images/Deauville4A.jpg") no-repeat center;
    background-size: cover;
  }
}

#search-bar { //barre de recherche 
  display: flex;

  padding: 1rem;

  background: #FF8F00;

  * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#osm-map { //carte style
  height: 100%; //taille
  width: 100%;

  border: solid 1px #ced4da; //bord
  border-radius: .25rem;
}