header {
    display: flex;
    min-height: 60%;

    flex-direction: column;
  
    h1 { //titre avec image
      flex: 1;
      margin: 0;
      padding-top: 10vh;
  
      background: url("/static/images/paysage.jpg") no-repeat center;
      background-size: cover;
    }
}