@import "navbar";
@import "selector";

//apparaît partout : ajouter par base.pug 
//toutes les pages auront ça en haut (elles héritent toutes de base.pug)

// Général
section {
  padding-top: 1rem;
}

// Formulaires ;)
select.placeholder {
  color: grey;

  option {
    color: #555;
  }
}

.custom-file-label.placeholder {
  color: grey;
}

.custom-file-label::after {
  height: 100%;

  content: "Parcourir";
}

// Cards
.card-toolbar {
  margin-top: -.25rem;
  margin-right: -.5rem;
  margin-bottom: -.25rem;
}