header {
    display: flex;
    min-height: 40vh;

    flex-direction: column;

    h1 { //titre avec image
        flex: 1;
        margin: 0;
        padding-top: 10rem;
        color : white;

        background: url("/static/images/Deauville3.jpg") no-repeat center;
        background-size: cover;
    }
}

.right{
    float: right;
}

#description-field{
    height: 125px;
}
