//aspect de la page profil

header div {
  display: flex;
  height: 300px;

  align-items: center;
  flex-direction: column;

  background: url("/static/images/paysage.jpg") no-repeat center;
  background-size: cover;

  img {
    width: 100px;

    margin-top: auto;
    margin-bottom: auto;

    border: solid 5px white;
    border-radius: 50%;
  }
}

.right{
    float: right;
}

.champ{
    margin: 5px;
}

.action-col {
  width: 150px;
}

td.action-col {
  padding: 0;
  vertical-align: middle;
}