/**
 * _navbar.scss
 */
.navbar-toggler {
  display: flex;
  height: 40px;
  min-width: 40px;
  flex-direction: column;
  margin-left: .675rem;
  padding: .7rem 0;
  border: none; }
  .navbar-toggler span {
    width: 1.4rem;
    height: .2rem;
    flex: 0 0 auto;
    background-color: #7B7C7D;
    margin: 0 auto;
    border-radius: .075rem;
    transition: transform 250ms ease, opacity 250ms ease; }
    .navbar-toggler span:nth-child(1) {
      transform: translate(0px, 0.45rem) rotate(45deg); }
    .navbar-toggler span:nth-child(2) {
      margin: .25rem auto;
      opacity: 0; }
    .navbar-toggler span:nth-child(3) {
      transform: translate(0px, -0.45rem) rotate(-45deg); }
    .navbar-toggler span:hover {
      background-color: #4A4A4B; }
  .navbar-toggler.collapsed span:nth-child(1), .navbar-toggler.collapsed span:nth-child(3) {
    transform: translate(0px, 0px) rotate(0deg); }
  .navbar-toggler.collapsed span:nth-child(2) {
    opacity: 1; }

.selector {
  position: relative;
  display: flex;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5rem; }
  .selector label {
    flex: 1;
    z-index: 1051;
    margin: 0;
    cursor: pointer;
    text-align: center;
    transition: color 0ms 125ms; }
  .selector span {
    position: absolute;
    height: 100%;
    z-index: 1050;
    border-radius: 5rem;
    background-color: var(--primary);
    transition: left 250ms; }
  .selector input {
    display: none;
    counter-increment: selector; }
    .selector input :first-of-type {
      counter-reset: selector; }
    .selector input:checked + label {
      color: white; }

.selector-2 span {
  width: 50%; }

.selector-2 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-2 input:checked:nth-child(3) ~ span {
  left: 50%; }

.selector-3 span {
  width: 33.33333%; }

.selector-3 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-3 input:checked:nth-child(3) ~ span {
  left: 33.33333%; }

.selector-3 input:checked:nth-child(5) ~ span {
  left: 66.66667%; }

.selector-4 span {
  width: 25%; }

.selector-4 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-4 input:checked:nth-child(3) ~ span {
  left: 25%; }

.selector-4 input:checked:nth-child(5) ~ span {
  left: 50%; }

.selector-4 input:checked:nth-child(7) ~ span {
  left: 75%; }

.selector-5 span {
  width: 20%; }

.selector-5 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-5 input:checked:nth-child(3) ~ span {
  left: 20%; }

.selector-5 input:checked:nth-child(5) ~ span {
  left: 40%; }

.selector-5 input:checked:nth-child(7) ~ span {
  left: 60%; }

.selector-5 input:checked:nth-child(9) ~ span {
  left: 80%; }

.selector-6 span {
  width: 16.66667%; }

.selector-6 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-6 input:checked:nth-child(3) ~ span {
  left: 16.66667%; }

.selector-6 input:checked:nth-child(5) ~ span {
  left: 33.33333%; }

.selector-6 input:checked:nth-child(7) ~ span {
  left: 50%; }

.selector-6 input:checked:nth-child(9) ~ span {
  left: 66.66667%; }

.selector-6 input:checked:nth-child(11) ~ span {
  left: 83.33333%; }

.selector-7 span {
  width: 14.28571%; }

.selector-7 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-7 input:checked:nth-child(3) ~ span {
  left: 14.28571%; }

.selector-7 input:checked:nth-child(5) ~ span {
  left: 28.57143%; }

.selector-7 input:checked:nth-child(7) ~ span {
  left: 42.85714%; }

.selector-7 input:checked:nth-child(9) ~ span {
  left: 57.14286%; }

.selector-7 input:checked:nth-child(11) ~ span {
  left: 71.42857%; }

.selector-7 input:checked:nth-child(13) ~ span {
  left: 85.71429%; }

.selector-8 span {
  width: 12.5%; }

.selector-8 input:checked:nth-child(1) ~ span {
  left: 0%; }

.selector-8 input:checked:nth-child(3) ~ span {
  left: 12.5%; }

.selector-8 input:checked:nth-child(5) ~ span {
  left: 25%; }

.selector-8 input:checked:nth-child(7) ~ span {
  left: 37.5%; }

.selector-8 input:checked:nth-child(9) ~ span {
  left: 50%; }

.selector-8 input:checked:nth-child(11) ~ span {
  left: 62.5%; }

.selector-8 input:checked:nth-child(13) ~ span {
  left: 75%; }

.selector-8 input:checked:nth-child(15) ~ span {
  left: 87.5%; }

/*# sourceMappingURL=style.css.map */