extends base

block content
    header(class="row")
        

    section(class="row")
        div(class="col-md-4")
            div(class="card m-3")
                div(class="card-body")
                    h5(class="card-title") Mon association
                    img(src="/static/images/resto.jpg" alt="logo resto" class="img-fluid rounded-circle")
                    p(class="card-text") Description............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
            //include parts/mission-proposee
           
        div(class="col-md-8")
            div(class="card m-3")
            
                a(href="") Ajout mission
            include parts/mission-proposee
            include parts/mission-proposee