extends base 

append css
    // Datatable
    link(rel="stylesheet" href="/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css")

    //lien avec le css
    link(rel="stylesheet" href="/static/scss/accueilAsso.css")

append jslib
    script(src="/vendor/datatables.net/js/jquery.dataTables.min.js")
    script(src="/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js")


block content
    //hérite de base (la structure avec navbar et les trucs qu'on veut partout)
    //balise
    //Page d'accueil Associations après connexion


    //bootstrap
    header(class="row")
        div(class="col")
            img(class="img-fluid" src="/static/images/calendrier.png")
            h1(class="text-white") Missions proposées

    section(class="row mb-3")
        //Bootstrap, Bloc de présentation à gauche de l'écran
        aside(class="col-auto")
            div(id="profil" class="card")
                div(class="card-body")
                    img(src="/static/images/profil.png" class="img-fluid rounded" alt="logo resto")
                    h5(class="card-title")
                        a(href="/asso/profil") Profil association
                        

        //Bootstrap, colonne de droite
        article(class="col")
            div(class="card")
                div(class="card-header d-flex")
                    div(class="flex-grow-1") Missions
                    div(class="card-toolbar")
                        a(class="btn btn-primary btn-sm text-white" href="/asso/createMission")
                            i(class="fas fa-plus")

                div(class="card-body")
                    table(id="missions" class="table table-bordered table-hover mb-0" cellspacing="0")
                        thead
                            tr
                                th(scope="col") Titre
                                th(scope="col") Lieu
                                th(scope="col") Nombre
                                th(scope="col") Description

                        tbody
                        
                            each mission in missions
                                tr
                                    td
                                        a(href=`/asso/mission/${mission.id}`)= mission.titre
                                    td 
                                        a(href=`/asso/mission/${mission.id}`)= mission.lieu
                                    td 
                                        a(href=`/asso/mission/${mission.id}`)= mission.nbPersAtteindre
                                    td 

                                            a(href=`/asso/mission/${mission.id}`)= mission.shortDescription()
                                            

append js
    script(src="/static/js/accueil-assos.js")
