extends base

append css
    // Ajout d'un scss fait spécialement pour cette page (pas un bootstrap)
    link(rel="stylesheet" href="/static/scss/candidatures.css")

block content
    section(class="row")
        //Block avec une image du citoyen et son 'mon profil'
        aside(class="col-auto")
            div(id="profil" class="card m-3")
                div(class="card-body")
                    img(src="/static/images/profil.png" class="img-fluid" alt="MonProfil image")
                    h5(class="card-title") Mon Profil
                    
        //Liste missions proposées et déja sélectionnées (import de mission.pug & candidature.pug du dossier parts)
        article(class="col")
            h5 Invitations Missions
            //morceau de mission
            include parts/mission

            h5 Mes Candidatures
            //morceau de candidatures
            include parts/candidature
            include parts/candidature