extends base

append css
    //Première page: page d'accuiel général
    //import biblio
    link(rel="stylesheet" href="/static/scss/accueil.css")
    link(rel="stylesheet" href="/vendor/leaflet/dist/leaflet.css")
    //lien avec les fichiers css

    //Première page: page d'accueil général
    //import biblio

append jslib
    //lien avec le javascript
    script(src="/vendor/leaflet/dist/leaflet.js")

append js
    //lien avec le javascript
    script(src="/static/js/accueil.js")

block content
    header(class="row")
        //titre
        h1(id="page-top" class="text-center")= "Citizen Platform Services c'est super cool ! ;) " 
        //on affiche la valeur test de test (c'est-à-dire 9) après le titre
        
        //Le filtre de recherche pour les missions
        form(id="search-bar")
            select(class="custom-select placeholder")
                option(value selected hidden) Type de mission
                option Test
                option Test
                option Test
                option Test

            input(class="form-control" type="text" placeholder="Où")
            input(class="form-control" type="text" placeholder="Quoi")

            button(class="btn btn-primary") Rechercher

    section(class="row")
        article(class="col")
            h2(class="ml-5") Résultats
            include parts/mission
            //on va l'enlever, c'est juste pdt qu'on ne peut pas faire la connexion en tant qu'association
            h2(class="ml-5") Lien profil Assos
            a(href="/asso") lien
        //la carte sur la droite
        aside(class="col")
            div(id="osm-map")
