extends base

append css
    //Première page: page d'accuiel général
    //import biblio
    link(rel="stylesheet" href="/static/scss/accueil.css")
    link(rel="stylesheet" href="/vendor/leaflet/dist/leaflet.css")
    //lien avec les fichiers css

    //Première page: page d'accueil général
    //import biblio

append jslib
    //lien avec le javascript
    script(src="/vendor/leaflet/dist/leaflet.js")

append js
    //lien avec le javascript
    script(src="/static/js/accueil.js")

block content
    header(class="row")
        //titre
        h1(id="page-top" class="text-center")= "Citizen Platform Services c'est super cool ! ;)"

        //Le filtre de recherche pour les missions
        form(id="search-bar" method="post")
            input(class="form-control" name="lieu" type="text" placeholder="Lieu")
            input(class="form-control" name="assos" type="text" placeholder="Association")
            
            //select(class="custom-select placeholder" name="opdate")
                option(value selected hidden) Quand
                option Aujourd'hui
                option Demain
                option Cette semaine

            //input(class="form-control" type="text" placeholder="Où")
            input(class="form-control" name="keyword" type="text" placeholder="Mot clé")

            button(class="btn btn-primary" type="submit") Rechercher

    div(class="row")
        div(class="col")
            div(class="editable-select")
                input(class="form-control" type="text" placeholder="test" required)
                button(type="button")
                    i(class="fas fa-caret-down")

                div
                    p(tabindex="0") Banane
                    p(tabindex="0") Carotte
                    p(tabindex="0") Poireau

    section(class="row")
        article(class="col")
            h2(class="ml-5") Résultats

            each mission in missions
                include parts/mission

        //la carte sur la droite
        aside(class="col")
            div(id="osm-map")
