extends base

append css
    //Première page: page d'accuiel général
    //import biblio
    link(rel="stylesheet" href="/static/scss/inscription.css")
    link(rel="stylesheet" href="/vendor/leaflet/dist/leaflet.css")

block content
    //div= test
    header(class="row")
        //titre
        h1(id="page-top" class="text-center ")= "Inscription"

    section(class="container-fluid")
        form(class="m-3")
            div(class="row mb-3")
                div(class="col-6")
                    input(class="form-control" type="text" placeholder="* Nom")

                div(class="col-6")
                    input(class="form-control" type="text" placeholder="* Prenom")

            div(class="row mb-3")
                div(class="col-6")
                    input(class="form-control" type="email" placeholder="* Login")

            div(class="row mb-3")
                div(class="col-6")
                    input(class="form-control" type="password" placeholder="Mot de passe")

                div(class="col-6")
                    input(class="form-control" type="password" placeholder="* Confirmer le mot de passe")

            div(class="row mb-3")
                div(class="col-6")
                    select(class="custom-select placeholder")
                        option(value selected hidden) Statut
                        option Etudiant
                        option Chômage
                        option Commercial
                        option Ingénieur

            div(class="row mb-3")
                div(class="col-6")
                    input(class="form-control" type="text" placeholder="N° de téléphone")

                div(class="col-6 py-1")
                    label(class="mr-3 mb-0") Permis
                    div(class="form-check form-check-inline")
                        div(class="custom-control custom-radio")
                            input(type="radio" class="custom-control-input" id="ex1" name="permis")
                            label(class="custom-control-label" for="ex1") Oui

                    div(class="form-check form-check-inline")
                        div(class="custom-control custom-radio")
                            input(type="radio" class="custom-control-input" id="ex2" name="permis" checked)
                            label(class="custom-control-label" for="ex2") Non

            div(class="row mb-3")
                div(class="col")
                    input(class="form-control" type="text" placeholder="Adresse")

            div(class="row mb-3")
                div(class="col-auto mx-auto")
                    div(class="custom-control custom-checkbox")
                        input(type="checkbox" class="custom-control-input" id="check2" required)
                        label(class="custom-control-label" for="check2") En cochant cette case, j'accepte et je reconnais avoir pris connaissance des conditions d'utilisation

            div(class="row mb-3")
                div(class="col-auto mx-auto")
                    button(class="btn btn-primary" type="submit") Inscription
