extends base

append css
    //TOUT CE QUI CONCERNE LE PROFIL DU BENEVOLE route : user/
    link(rel="stylesheet" href="/static/scss/profil.css")
    //lien avec le css

block content
    //bootstrap
    header(class="row")
        div(class="col")
            img(class="img-fluid" src="/static/images/profil.png")

    section(class="row")
        //bootstrap
        aside(class="col-3")
            div(class="card mb-3 card-infos")
                div(class="card-header")
                    p(class="mb-0") Informations personnelles

                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        span mail

                    li(class="list-group-item")
                        span adresse

                    li(class="list-group-item")
                        span tel

                    li(class="list-group-item")
                        span situation

                    li(class="list-group-item")
                        span permis

            div(class="card mb-3")
                div(class="card-header")
                    p(class="mb-0") Liens

                div(class="card-body")
                    a(href="/user/candidatures") Mes Candidatures

        article(class="col")
            div(class="card")
                //bootstrap
                div(class="card-header")
                    ul(class="nav nav-tabs card-header-tabs" role="tablist")
                        li(class="nav-item")
                            a(class="nav-link active" data-toggle="tab" href="#infoComplementaires") Informations Complémentaires

                        li(class="nav-item")
                            a(class="nav-link" data-toggle="tab" href="#dispo") Disponibilités

                div(class="card-body")
                    div(class="tab-content")
                        div(class="tab-pane fade show active" id="infoComplementaires" role="tabpanel") 
                            h4 Documents
                            p azerty
                            h4 Domaines d'intervention
                            p azert
                            h4 Savoir-Faire   
                            p azerty                         
                        div(class="tab-pane fade" id="dispo" role="tabpanel") 
                            a(href='#') 
                                i(class="fas fa-plus-circle")  Ajouter Disponibilité
                            table(class="table table-bordered mt-4")
                                thead
                                    tr
                                        th(scope="col") Lundi
                                        th(scope="col") Mardi
                                        th(scope="col") Mercredi
                                        th(scope="col") Jeudi
                                        th(scope="col") Vendredi
                                        th(scope="col") Samedi
                                        th(scope="col") Dimanche
                                tbody
                                    tr
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                    tr
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                    tr
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') ...
