
//Card d'une Mission - vision Citoyen - Où il a déjà postulé : morceau candidature que l'on retrouve dans profil citoyen
div(class="card m-3")
    div(class="card-header")
        div(class="row")
            div(class="col")
                h5(class="card-title mb-0")= `${mission.mission.titre}, ${mission.mission.lieu}`
        
    div(class="card-body")
        p(class="card-text")= mission.mission.description
            
    block footer
        div(class="card-footer text-right px-3 py-1")
            small(class="font-italic")=  mission.creneau.debut
    
    
    //div(class="card-footer")
        i Date candidature
        strong(class="float-right") Statut
