//Description des candidats vu de l'association
div(class="card m-3")
    div(class="card-body")
        h5(class="card-title")
            span Nom Prénom
    div(class="card-footer")
        i Disponibilités
        strong(class="float-right") mail
