// Popup de connection
div(id="connectionPopup" class="modal fade" + (connectionPopup.err ? " show" : "") tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered" role="document")
        form(class="modal-content" method="post" action="/user/connexion")
            div(class="modal-header")
                h5(class="modal-title")
                    i(class="fas fa-sign-in-alt ml-1 mr-3")
                    span Connexion

                button(class="close" type="button" data-dismiss="modal")
                    i(class="fas fa-times")

            div(class="modal-body")
                div(class="form-group selector selector-2")
                    input(id="radioBene" type="radio" name="type" value="c" checked)
                    label(for="radioBene") Bénévole

                    input(id="radioAsso" type="radio" name="type" value="a")
                    label(for="radioAsso") Association

                    span

                if connectionPopup.err
                    p(class="erreur text-center text-danger") Mauvais mot de passe ou mauvais email

                div(class="input-group form-group")
                    div(class="input-group-prepend")
                        label(for="login" class="input-group-text")
                            i(class="fas fa-at")

                    input(id="login" class="form-control" type="text" name="login" placeholder="Email" value=connectionPopup.email)

                div(class="input-group form-group")
                    div(class="input-group-prepend")
                        label(for="mdp" class="input-group-text")
                            i(class="fas fa-key")

                    input(id="mdp" class="form-control" type="password" name="mdp" placeholder="Mot de passe")

            div(class="modal-footer")
                button(class="btn btn-secondary" type="button" data-dismiss="modal") Annuler
                button(class="btn btn-primary" type="submit") Connexion