// Popup de disponibilite
div(class="modal fade" id="disponibilitePopup" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title")
                    i(class="fas fa-calendar-alt")
                    span   Disponibilité
                button(class="close" type="button" data-dismiss="modal")
                    i(class="fas fa-times")
                        
            div(class="modal-body")
                input(class="form-control champ" type="date")
                
                select(class="custom-select champ")
                    option(value selected hidden) Partie de la journée
                    option Matin
                    option Après-midi
                    option Soirée
                    option Toute la journée

            div(class="modal-footer")
                button(class="btn btn-secondary" type="button" data-dismiss="modal") Annuler
                button(class="btn btn-primary" type="submit") OK
