extends mission

block toolbar
    div(class="col-auto")
        strong Statut

block footer
    div(class="card-footer")
        | Nombre Postulants
        | Nombre Consultations
        //vision de l'asso : combien de personnes ont postulé
        //combien de constultations
