//Description de la mission - vision Citoyen - Possibilité de postuler
div(class="card m-3")
    div(class="card-header")
        div(class="row")
            div(class="col")
                h5(class="card-title mb-0")= `${mission.titre}, ${mission.lieu}`

            block toolbar
                div(class="col-auto card-toolbar")
                    a(href="#" class="btn btn-primary btn-sm") Postuler

    div(class="card-body")
        p(class="card-text")= mission.description

    block footer
        div(class="card-footer text-right px-3 py-1")
            small(class="font-italic")= mission.fields.dateMission
