// Popup pour supprimer une mission
div(class="modal fade" id="rem-creneau" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered" role="document")
        form(class="modal-content" method="post")
            div(class="modal-header")
                h5(class="modal-title")
                    span Supprimer un créneau

                button(class="close" type="button" data-dismiss="modal")
                    i(class="fas fa-times")
            
            div(class="modal-body") 
                p Etes-vous sûr de vouloir supprimer ce créneau ?

            div(class="modal-footer")
                button(class="btn btn-secondary" type="button" data-dismiss="modal") Annuler
                button(class="btn btn-danger" type="submit") Supprimer
