extends base

block content
    header(class="row")
        

    section(class="row")
        div(class="col-md-4")
            div(class="card m-3")
                div(class="card-body")
                    img(src="/static/images/resto.jpg" alt="logo resto" class="img-fluid rounded")
                    h5(class="card-title text-center") Page Association
                    hr
                    p(class="card-text") Description, contact ...............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
            //include parts/mission-proposee
           
        div(class="col-md-8")
            div(class="card m-3 p-3")
            
                a(href="") Ajout mission
            include parts/mission-proposee
            include parts/mission-proposee