doctype html
html
    head
        title= title

        // Css
        block css
            link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='/bower/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css')

            link(rel='stylesheet', href='/static/scss/main.css')

        // JS libs
        block jslib
            script(src='/bower/jquery/dist/jquery.min.js')
            script(src='/bower/popper.js/dist/popper.min.js')
            script(src='/bower/bootstrap/dist/js/bootstrap.min.js')

    body
        include parts/navbar
        include parts/connection-popup

        div(class="content-wrapper container-fluid")
            block content

        block js
            script(src="/static/js/placeholder.js")