extends base

block content
    include parts/navbar
    include parts/connection_popup

    div(id="contenu")
        header(id="pageTop")
            h1(class="text-center") Citizen Platform Services c'est super cool ! ;)

        include parts/cardMission
        a(href="candidatures/pageCandidatures") pageCandidatures
