extends base

block content
    include parts/navbar
    include parts/connection_popup

    div(id="contenu")
        include parts/cardMission        
        a(href="candidatures/pageCandidatures") pageCandidatures
