extends base

block content
    include parts/navbar
    include parts/connection_popup

    div(id="contenu")
      //- div(class="container" style="margin : 0; padding : 0;")
      div(class="row" )
        div(class="col-auto" )
          div(class="card m-3")
            div(class="card-body")
              img(src="/static/monProfil.png" class="img-fluid" alt="MonProfil image" style="borderradius : 20;")
              h5(class="card-title") Mon Profil

        div(class="col")
          h5 Invitations Missions
          include parts/cardMission
          h5 Mes Candidatures
          include parts/cardCandidature
          include parts/cardCandidature
      
