extends base

append css
    link(rel="stylesheet" href="/static/scss/candidatures.css")

block content
    section(class="row")
        aside(class="col-auto")
            div(id="profil" class="card m-3")
                div(class="card-body")
                    img(src="/static/images/monProfil.png" class="img-fluid" alt="MonProfil image")
                    h5(class="card-title") Mon Profil

        article(class="col")
            h5 Invitations Missions
            include parts/cardMission
                
            h5 Mes Candidatures
            include parts/cardCandidature
            include parts/cardCandidature