extends base

block content
    header(class="row")
        img(class="img-fluid" src="/static/images/profil.png")

    section(class="row")
        aside(class="col-3")
            a(href="/user/candidatures") pageCandidatures