<div class="card" style="margin: 12px;">
  <div class="card-body">
    <h5 class="card-title">Title Mission, Location </h5>
    <h6 class="card-subtitle mb-2 text-muted">Date pour la Mission</h6>
    <p class="card-text">Description de la mission : Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.</p>
  </div>
  <div class="card-footer">
    <a href="#" style="float : right; width: 18rem;" class="btn btn-primary">Postuler</a>
  </div>
</div>
