//Card d'une mission - vision Association - Ce qui a déjà été proposé
div(class="card" style="margin: 12px;")
  div(class="card-body")
    h5(class="card-title")
      span Title Mission, Location
    h6(class="card-subtitle mb-2 text-muted") Date pour la Mission
    div(class="card-text")
      p Description de la mission : Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.
    strong(style = "float: right;") Date de Création

  div(class="card-footer")
      | Nombre Postulants 
      | Nombre Consultations
      strong(style = "float: right;") Statut
