//Card d'une mission - vision Citoyen - Possibilité de postuler
div(class="card m-3")
    div(class="card-body")
        h5(class="card-title") Title Mission, Location
        h6(class="card-subtitle mb-2 text-muted") Date pour la Mission

        p(class="card-text") Description de la mission : Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.

    block footer
        div(class="card-footer text-right")
            div(class= "row justify-content-end")
                a(href="#"  class=" btn btn-primary col-2") Postuler
